*{
    margin: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    height: 30%;
    font-display: center;
    background-color: rgb(243, 153, 143);
}
.a{
    color: black;
    text-decoration: rgb(133, 201, 167);
    background-color: rgb(24, 224, 224);
    justify-content: space-around;
}
img{
    max-width: 100%;
}

/*headers*/
header{
    display: flex;
    height: 110px; 
    background-color: rgb(134, 218, 176);
    justify-content: space-around;
    align-items: center;
    padding: 15px; 
    font-weight: bold;
}

header a{
    margin-right: 30px;
    padding: 5px; 
}

/*main*/
main{
    margin: 0%; 
}

main h2{
    font-size: 45px;
    display: flex;
    text-align: center;
    padding: 5px;
    justify-content: space-around;
    background-color: rgba(44, 8, 224, 0.808);
    -webkit-text-fill-color: white;
}

main img{
    display:block; 
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.myform{
    background-color: lightgray;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    margin: 10px;
    border: 2px;
    border-radius: 20px;
}

.input-container{
    margin: 20px;
}
.input-container input{
    width: 70%;
    border: none;
    padding: 3px;
}

.register-button{
    padding: 25px; 
}

table{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 10px solid navy;
    padding: 10px;
}

.myform{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    border: 5px solid navy;
    padding: 10px;
}

.register-container{
    margin: 10px;
}
.pets-container{
    border: 7px solid;
}
