*{
    margin: ;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    height: 30%;
    font-display: center;
    background-color: salmon;
}
a{
    color: black;
    text-decoration: mintcream;
    background-color: teal;
    padding: 25px; 
}
img{
    max-width: 100%;
}

/*headers*/
header{
    display: flex;
    height: 100px; 
    background color: blue;
    justify-content: space-around;
    align-items: center;
    padding: 15px; 
}

header a{
    margin-right: 30px;
    padding: 5px; 
}

/*main*/
main{

}
main h2{
    font-size: 45px;
    display: flexbox;
    width: 300px;
    text-align: center;
    padding: 5px;
    justify-content: space-around;
    background-color: navy;
    -webkit-text-fill-color: white;
}